@{
    ViewData["Title"] = "ChiTietSanPham";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";

}<!-- Product Details Section Begin -->
@model NCKH.Models.ChiTietSanPham
<section class="product-details spad">
    <div class="container">
        <div class="row">
            @*hien thu hinh anh san pham*@
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="@Url.Content("~/Images/"+Model.HinhAnh)" alt="">
                    </div>
                    
                   
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <input type="hidden" id="productId" value="@Model.MaSanPhamChiTiet" />

                    <h3>@Model.TenSanPham</h3>
                    <div class="product__details__rating">
                        @for (int i = 0; i < Model.Rate; i++)
                        {
                            <i class="fa fa-star"></i>
                        }
                     
                    </div>
                    <div class="product__details__price">
                    </div>
                    <p>@Model.MoTa</p>

                    <div class="product__details__size">
                        <p></p>
                        <ul class="size-list">
                            @foreach (var size in Model.SanPhamSizes)
                            {
                                <li>
                                    <input type="radio" id="size_@size.Size" name="productSize" value="@size.Size" hidden>
                                    <label for="size_@size.Size">@size.Size</label>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1" min ="1">
                            </div>
                        </div>
                    </div>
                    <button type="button" id="addToCartBtn" class="primary-btn">Thêm vào giỏ hàng</button>
                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <ul>
                       
                        <li>
                            <b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>
<script>
    <script>
        $(document).ready(function () {
            $("#addToCartBtn").click(function () {
                var productId = $("#productId").val();
                var size = $("input[name='productSize']:checked").val();
                var quantity = $("#quantity").val();

                if (!size) {
                    alert("Vui lòng chọn size trước khi thêm vào giỏ hàng!");
                    return;
                }

                $.ajax({
                    url: "/Cart/AddCart",
                    type: "POST",
                    data: { productId: productId, size: size, quantity: quantity },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message); 
                        } else {
                            alert("Lỗi: " + response.message);
                        }
                    },
                    error: function () {
                        alert("Có lỗi xảy ra, vui lòng thử lại!");                    }
                });
            });
        });
</script>





<!-- Product Details Section End -->